{% extends "base.html" %}

{% block app_content %} 

<p><a name ="Top"></a></p>

<p><a name ="Trainers"></a></p>
<h1>Trainers:</h1>
<br>

<div class="alert alert-dark" role="alert">
    <p style = "font-size: 18pt">
        You can click on the trainer's name to view their profile.
    </p>
</div>

<br>

    <table class="table">        
        <thead>
            <tr>

                
              <th><h5>ID</h5></th>
              <th><h5>Trainer name</h5></th>
              <th><h5>Favorite pokemon</h5></th>
              <th><h5>Biography</h5></th>

            </tr>
        </thead>

        <tbody>  
            {% for user in usersT  %}
            <tr>
                <th scope="row">{{user[0]}}</th>  

                <td>
                    <a href="{{ url_for('trainer_profile', trainer_id=user[0]) }}" class="nav-link px-2 link-primary">
                        {{user[1]}}
                    </a>
                   
                </td>
                <td>{{user[3]}}</td>
                <td>{{user[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>   
    
<br>
{% if session['role'] == 'spectator' %}
<a href="{{ url_for('edit_fav_trainer') }}" class="btn btn-primary">Change favorite trainer</a> <br>
{%endif%}

<button type="button" class="btn btn-link"><a href="#Top">Back to Top</a></button>
    

{% endblock %}